In [3]:
import numpy as np
import pandas as pd

In [8]:
data=pd.read_csv(r'C:\Users\draga\OneDrive\Documents\Desktop\Reviews.csv')
data.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,568454.000000,568454.000000,568454.00000,568454.000000,5.684540e+05
mean,284227.500000,1.743817,2.22881,4.183199,1.296257e+09
std,164098.679298,7.636513,8.28974,1.310436,4.804331e+07
min,1.000000,0.000000,0.00000,1.000000,9.393408e+08
25%,142114.250000,0.000000,0.00000,4.000000,1.271290e+09
50%,284227.500000,0.000000,1.00000,5.000000,1.311120e+09
75%,426340.750000,2.000000,2.00000,5.000000,1.332720e+09
max,568454.000000,866.000000,923.00000,5.000000,1.351210e+09

In [9]:
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [11]:
data = data[data['Score'] != 3]

# napravi novu kolonu Sentiment
data['Sentiment'] = data['Score'].apply(lambda x: 'positive' if x > 3 else 'negative')

In [15]:
print(data['Sentiment'].value_counts())
data.head()

Sentiment
positive    443777
negative     82037
Name: count, dtype: int64

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Sentiment
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...,positive
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,negative
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...,positive
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...,negative
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...,positive

In [17]:
sample_size = 10000
half_size = sample_size // 2

negative = data[data['Sentiment'] == 'negative'].sample(n=half_size, random_state=42)
positive = data[data['Sentiment'] == 'positive'].sample(n=half_size, random_state=42)

data = pd.concat([negative, positive]).sample(frac=1, random_state=42)

print(data['Sentiment'].value_counts())
print(data.shape)
data.head()

Sentiment
positive    5000
negative    5000
Name: count, dtype: int64
(10000, 11)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Sentiment
245685,245686,B004OAZ36I,A2YBCX65HGP69W,Heart1970,0,0,5,1331510400,Great price and coffee,What a great deal to have the K cups delivered...,positive
54066,54067,B001EPQ9IC,A17VK55PM9K828,Dolores Randall,0,0,2,1261180800,Disappointing for me,Perhaps there is too much yeast extract in it;...,negative
213680,213681,B0039LVLS2,A3RYMO6S22FMM5,"Vanessa Strange ""porph princess""",2,3,1,1302566400,Too Salty for Me!,"I'm really disappointed in these, unless for s...",negative
353040,353041,B000FEXUVW,AGS17Q9CLK3CK,DocD,2,4,1,1334620800,Good nut bad store,"Be very careful of the store ""TheNewMall"" who ...",negative
161813,161814,B001CGTN3G,AYGJ96W5KQMUJ,SJP,7,10,1,1320969600,"Good for others maybe, not for me",I put two tablespoons (two-thirds of what the ...,negative

In [20]:
# saƒçuvaj kao CSV fajl
data.to_csv('Reviews_sample_balanced.csv', index=False)

print("Fajl sacuvan kao Reviews_sample_balanced.csv")

Fajl sacuvan kao Reviews_sample_balanced.csv